@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

#myMap {
    margin-right: 40px;
    width: 500px;
    height: 400px;
}

table {
    input {
        max-height: 28px;
    }

    .item-text{
        span {
            display: block;
        }
        input{
            display: none;
        }
    }
    .item-text.change {
        span {
            display: none;
        }
        input{
            display: block;
        }
    }
}
